<div class="jumbotron">
	<div>
		<h2>Hi, I'm <%= @profile.name %> !</h2>
	</div>
	
	<div id="profile-picture">
	</div>

	<div>
		<table id="profile-info" class="table table-bordered">
			<tr>
				<td>Location</td>
				<td><%= @profile.location %></td>
			</tr>
			<tr>
				<td>Country</td>
				<td><%= @profile.country %></td>
			</tr>
			<tr>
				<td>Description</td>
				<td><%= @profile.description %></td>
			</tr>
			<tr>
				<td>Gender</td>
				<td><%= @profile.gender %></td>
			</tr>
			<tr>
				<td>Birthdate</td>
				<td><%= @profile.birthdate %></td>
			</tr>
			<tr>
				<td>Phone</td>
				<td><%= @profile.phone %></td>
			</tr>
			<tr>
				<td>Contact Email</td>
				<td><%= @profile.email.nil? ? @profile.user.email : @profile.email %></td>
			</tr>
			<tr>
				<td>Language</td>
				<td><%= @profile.language %></td>
			</tr>
			<tr>
				<td>Currency</td>
				<td><%= @profile.currency %></td>
			</tr>
			<tr>
				<td>School</td>
				<td><%= @profile.school %></td>
			</tr>
			<tr>
				<td>Work</td>
				<td><%= @profile.work %></td>
			</tr>
			<tr>
				<td>Address</td>
				<td><%= @profile.address %></td>
			</tr>
		</table>
	</div>
</div>



<%= link_to "Edit", edit_user_profile_path(current_user, @profile), show: "#{show_if_own(@profile)}" %>
<%= link_to "Back", listings_path %>