<div class="form_signin">
	<%= form_for :session, url: session_path do |f| %>
	  <%= f.label :email %>:
	  <%= f.text_field :email %><br/>
	  <%= f.label :password %>:
	  <%= f.text_field :password %><br/>
	  <%= f.submit class: "btn btn-primary" %>
	  
	<% end %>
</div>
