<div class="form_listing">
  <% if @listing.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@listing.errors.count, "error") %> prohibited article from being saved:
      </h2>
      <ul>
        <% @listing.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.label :title %>:
  <%= f.text_field :title %><br />
  
  <%= f.label :price %>:
  <%= f.number_field :price %> Per Night<br />
  
  <%= f.label :location %>:
  <%= f.text_field :location %><br />
  
  <%= f.label :address %>:<br/>
  <%= f.text_area :address %><br />
  
  <%= f.label :description %>:<br />
  <%= f.text_area :description %><br />

  <strong>Availability Dates</strong><br />
  <%= f.label :date_begin, "Start Date" %>
  <input class="datepicker" type="text" data-provide='datepicker' name="listing[date_begin]" data-date-format="yyyy-mm-dd">
  <%= f.label :date_end, "End Date" %>
  <input class="datepicker-end" type="text" data-provide='datepicker' name="listing[date_end]" data-date-format="yyyy-mm-dd">
  <br />
  
  <%= f.label :availability %>:
  <%= f.radio_button :availbility, true, name: "listing[availability]", checked: true %>
  <%= f.label :availability, "Yes", value: true  %>
  <%= f.radio_button :availability, false, name: "listing[availability]" %>
  <%= f.label :availability, "No", value: false %><br />
  
  <%= f.label :max_occupants, "Maximum number of Occupants" %>
  <%= f.number_field :max_occupants %><br />
  
  <%= f.label :no_of_bedrooms, "Number of Bedrooms" %>
  <%= f.number_field :no_of_bedrooms %><br />

  <%= f.label :no_of_bathrooms, "Number of Bathrooms" %>
  <%= f.number_field :no_of_bathrooms %><br />

  <%= f.label :images, "Images" %>
  <%= f.file_field :images, :multiple => true %><br />

  <%= fields_for :amenity do |u| %> 
    <h3>Amenities</h3>
    <ul>
      <li>
      <%= u.label :pool %>
      <%= u.check_box :pool, {}, "true", "false" %>
      <li>
      <%= u.label :wifi %>
      <%= u.check_box :wifi, {}, "true", "false" %>
      <li>
      <%= u.label :gym %>
      <%= u.check_box :gym, {}, "true", "false" %>
      <li>
      <%= u.label :kitchen %>
      <%= u.check_box :kitchen, {}, "true", "false" %>
      <li>
      <%= u.label :golf_course %>
      <%= u.check_box :golf_course, {}, "true", "false" %>
      <li>
      <%= u.label :tennis_court %>
      <%= u.check_box :tennis_court, {}, "true", "false" %>
    </ul>
  <% end %>

</div>
