<div class="form_listing">
  <% if @listing.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@listing.errors.count, "error") %> prohibited article from being saved:
      </h2>
      <ul>
        <% @listing.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.label :title %>:
  <%= f.text_field :title %><br />
  
  <%= f.label :price %>:
  <%= f.text_field :price %><br />
  
  <%= f.label :location %>:
  <%= f.text_field :location %><br />
  
  <%= f.label :address %>:
  <%= f.text_area :address %><br />
  
  <%= f.label :description %>:
  <%= f.text_field :description %><br />

  <strong>Availability Dates</strong><br />
  <%= f.label :date_begin, "Start Date" %>
  <input class="datepicker" type="text" data-provide='datepicker' name="listing[date_begin]" data-date-format="yyyy-mm-dd">
  <%= f.label :date_end, "End Date" %>
  <input class="datepicker-end" type="text" data-provide='datepicker' name="listing[date_end]" data-date-format="yyyy-mm-dd">
  <br />
  
  <%= f.label :availability %>:
  <%= f.radio_button :availbility, true, name: "listing[availability]", checked: true %>
  <%= f.label :availability, "Yes", value: true  %>
  <%= f.radio_button :availability, false, name: "listing[availability]" %>
  <%= f.label :availability, "No", value: false %><br />
  
  <%= f.label :max_occupants, "Maximum number of Occupants" %>
  <%= f.text_field :max_occupants %><br />
  
  <%= f.label :no_of_bedrooms, "Number of Bedrooms" %>
  <%= f.text_field :no_of_bedrooms %><br />

  <%= f.label :no_of_bathrooms, "Number of Bathrooms" %>
  <%= f.text_field :no_of_bathrooms %><br />

  <%= f.label :images, "Images" %>
  <%= f.file_field :images, :multiple => true %><br />

</div>
