<div class="form-group">
    <%= form_for [@listing, @listing.reservations.build] do |f| %>
        <% if !@reservation.nil? %>
            <% if @reservation.errors.any? %>
                <div id="error_explanation">
                    <h2>
                        <%= pluralize(@reservation.errors.count, "error") %> prohibited article from being saved:
                    </h2>
                    <ul>
                        <% @reservation.errors.full_messages.each do |msg| %>
                        <li><%= msg %></li>
                        <% end %>
                    </ul>
                </div>
            <% end %>
        <% end %>
    <%= f.label :date_in, "Check In" %>
    <input class="datepicker" id="check-in" type="text" name="reservation[date_in]">
    
    <%= f.label :date_out, "Check Out" %>   
    <input class="datepicker" id="check-out" type="text" name="reservation[date_out]">
    
    <%= f.label :no_of_guests, "Number of Guests" %>
    <%= f.select :no_of_guests, (1..@listing.max_occupants) %>
    
    <p style="display:none" id="price-per-night"><%= @price = @listing.price %></p>

    <p>Total Cost = RM<span style="" id="total-cost"><%= @price = @listing.price %></span></p>

    <input id="total-cost-submit" type="hidden" name="reservation[price]" value="<%= @total = @price%>"></input>
    <%= f.submit "Submit" %>
    <% end %>
</div>
