<div class="jumbotron">
<div class="reservation">
	<h2>Listing: <%= link_to "#{@reservation.listing.title}", listing_path(@reservation.listing) %> </h2>
    <h3>Guest Email <%= @reservation.user.email %></h3>
    <p>
    	Check In Date
    	<%= format_date(@reservation.date_in) %>
    </p>
    <p>
    	Check Out Date
    	<%= format_date(@reservation.date_out) %>
    </p>
    <p>
    	Number of Guests
    	<%= @reservation.no_of_guests %>
    </p>
    <p>
    	Total Price
    	<%= to_RM(@reservation.total_price) %>
    </p>
</div>
</div>
