<div class="search-form">
    <h4>Filter/Search</h4>
    <div class="col-md-5">
        <%= form_for :search, url: "/filter", method: "get" do |f| %>
        </br>
        <%= f.label "Search by Title" %>
        <%= f.text_field(:search_by_title, placeholder: "Search") %>
        </br>
        <%= f.label "Search by Description" %>
        <%= f.text_field(:search_by_description, placeholder: "Search") %>
        </br>
        <%= f.label :price_above, "Priced Above" %>
        <%= f.number_field :price_above %>
        </br>
        <%= f.label :price_below, "Priced Below" %>
        <%= f.number_field :price_below %>
        </br>
        <%= f.label :bedrooms, "Bedrooms" %>
        <%= f.number_field :bedrooms %>
        </br>
        <%= f.label :bathrooms, "Bathrooms" %>
        <%= f.number_field :bathrooms %>
        </br>
        <%= f.label :capacity, "Max Capacity" %>
        <%= f.number_field :capacity %>
        </br>
    </div>
    <div class="col-md-5">
        <h4>Amenities</h4>
        <ul>
            <li>
            <%= f.label :pool %>
            <%= f.check_box :has_pool, {}, true %>
            <li>
            <%= f.label :wifi %>
            <%= f.check_box :has_wifi, {}, true %>
            <li>
            <%= f.label :gym %>
            <%= f.check_box :has_gym, {}, true %>
            <li>
            <%= f.label :kitchen %>
            <%= f.check_box :has_kitchen, {}, true %>
            <li>
            <%= f.label :golf_course %>
            <%= f.check_box :has_golf_course, {}, true %>
            <li>
            <%= f.label :tennis_court %>
            <%= f.check_box :has_tennis_court, {}, true %>
        </ul>
        </br>
            <%= f.submit "Search", id: "search-btn" %>
    </div>
    
    <% end %>
</div>
